body {
	padding-top: 60px;
	padding-bottom: 40px;
}


.bgcolor {
	background-color: none;
}

.lightblue {
	background-color: none;
}

.form-horizontal .control-label {
	width: 70px;
}

.form-horizontal .controls {
	margin-left: 90px;
}
.selected {
	color: white;
}
