
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h1>@Convert.ToString(ViewData["sonuc"])</h1>


@*<div class="alert alert-danger" role="alert">
    This is a danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>

<script>
function myFunction() {
  alert("Hello! I am an alert box!");
}
</script>*@