
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div class="header collapse d-lg-flex p-0" id="menu">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row ">
                    <li class="nav-item">
                        <a href="/Main/Index" class="nav-link active"> <i class="fe fe-home"> </i> <font color="#6574cd">Anasayfa</font></a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"> <i class="fe fe-box"> </i> Depo İşlemleri</a>
                        <div class="dropdown-menu dropdown-menu-arrow">
                            <a href="/UrunKaydi/Index" class="dropdown-item "> Ürün Kaydı</a>
                            <a href="/ArizaBildirimi/Index" class="dropdown-item "> Arıza Bildirimi</a>
                            <a href="./cards.html" class="dropdown-item "> Bağış Yap</a>
                            <a href="./cards.html" class="dropdown-item "> İşten Çıkma</a>
                            <a href="./cards.html" class="dropdown-item "> Pozisyon Değişikliği</a>
                            <a href="./cards.html" class="dropdown-item "> Amortisman Bildirimi</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"> <i class="fe fe-calendar"> </i> Saha İşlemleri</a>
                        <div class="dropdown-menu dropdown-menu-arrow">
                            <a href="./maps.html" class="dropdown-item "> Kullanıcıya Ürün Atama</a>
                            <a href="./icons.html" class="dropdown-item "> Kargo Takibi</a>
                            <a href="./store.html" class="dropdown-item "> Ürün Kullanıcısı Değiştirme</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="./form-elements.html" class="nav-link"> <i class="fe fe-check-square"> </i> Sistem Kayıtları</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"> <i class="fe fe-file"> </i> Diğer İşlemler</a>
                        <div class="dropdown-menu dropdown-menu-arrow">
                            <a href="./profile.html" class="dropdown-item "> Cihaz Türü Yönetimi</a>
                            <a href="./login.html" class="dropdown-item "> Model Yönetimi</a>
                            <a href="./register.html" class="dropdown-item "> Şirket Yönetimi</a>
                            <a href="./forgot-password.html" class="dropdown-item "> Lokasyon Yönetimi</a>
                            <a href="./400.html" class="dropdown-item "> Operatör İşlemleri</a>
                            <a href="./rtl.html" class="dropdown-item "> Kullanıcı İşlemleri</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header" style=" padding-bottom: 10px; margin: 0px 0 20px;">
            <h1 class="page-title" style=" margin-top: -15px;">
                Depo Stoklarına Hızlı Bakış
            </h1>
        </div>
        <div class="row row-cards">
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="card">
                    <div class="card-body p-3 text-center">
                        <div class="text-right text-green">
                            6%
                            <i class="fe fe-chevron-up"></i>
                        </div>
                        <div class="h1 m-0">20</div>
                        <div class="text-muted mb-4">Sıfır Notebook</div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="card">
                    <div class="card-body p-3 text-center">
                        <div class="text-right text-red">
                            -3%
                            <i class="fe fe-chevron-down"></i>
                        </div>
                        <div class="h1 m-0">18</div>
                        <div class="text-muted mb-4">Tablet & Telefon</div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="card">
                    <div class="card-body p-3 text-center">
                        <div class="text-right text-green">
                            9%
                            <i class="fe fe-chevron-up"></i>
                        </div>
                        <div class="h1 m-0">119</div>
                        <div class="text-muted mb-4">Kalan İkinci El Bilgisayar</div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="card">
                    <div class="card-body p-3 text-center">
                        <div class="text-right text-green">
                            3%
                            <i class="fe fe-chevron-up"></i>
                        </div>
                        <div class="h1 m-0">6</div>
                        <div class="text-muted mb-4">Sıfır LCD Ekran</div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="card">
                    <div class="card-body p-3 text-center">
                        <div class="text-right text-red">
                            -2%
                            <i class="fe fe-chevron-down"></i>
                        </div>
                        <div class="h1 m-0">8</div>
                        <div class="text-muted mb-4">Kalan Barkod Yazıcı</div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="card">
                    <div class="card-body p-3 text-center">
                        <div class="text-right text-red">
                            -1%
                            <i class="fe fe-chevron-down"></i>
                        </div>
                        <div class="h1 m-0">4</div>
                        <div class="text-muted mb-4">Kalan Mouse</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Son Gönderilen Cihazlar</h3>
                    </div>
                    @*<div id="chart-development-activity" style="height: 10rem"></div>*@
                    <div class="table-responsive">
                        <table class="table card-table table-striped table-vcenter">
                            <thead>
                                <tr>
                                    <th colspan="2">Kullanıcı Adı Soyadı</th>
                                    <th>Cihaz Türü</th>
                                    <th>Bölge Adı</th>
                                    <th>Tarih</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="w-1"><span class="avatar" style=" background-image: url(~/tabler-dev/dist/demo/faces/male/9.jpg)"></span></td>
                                    <td>Mert REİS</td>
                                    <td>SAMSUNG_GALAXY_TAB</td>
                                    <td>
                                        ISTANBUL AVRUPA DEPO
                                    </td>
                                    <td class="text-nowrap">
                                        12 Şubat 2021
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="avatar">BM</span></td>
                                    <td>Emre SERİNCE</td>
                                    <td>SAMSUNG_GALAXY_TAB</td>
                                    <td>
                                        ISTANBUL AVRUPA DEPO
                                    </td>
                                    <td class="text-nowrap">
                                        12 Şubat 2021
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="avatar" style="background-image: url(~/tabler-dev/dist/demo/faces/female/1.jpg)"></span></td>
                                    <td>Sumeyra KAYA</td>
                                    <td>
                                        LENOVO T470
                                    </td>
                                    <td>
                                        PAMUKOVA FABRIKA
                                    </td>
                                    <td class="text-nowrap">
                                        10 Şubat 2021
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="avatar" style="background-image: url(~/tabler-dev/dist/demo/faces/male/4.jpg)"></span></td>
                                    <td>Gökmen ÖZKAN</td>
                                    <td>
                                        LENOVO T440P
                                    </td>
                                    <td>
                                        PAMUKOVA FABRIKA
                                    </td>
                                    <td class="text-nowrap">
                                        10 Şubat 2021
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="avatar" style="background-image: url(~/tabler-dev/dist/demo/faces/female/11.jpg)"></span></td>
                                    <td>Özgür ÖGMEN</td>
                                    <td>SAMSUNG_GALAXY_TAB</td>
                                    <td>
                                        SAHA SATIS
                                    </td>
                                    <td class="text-nowrap">
                                        9 Şubat 2021
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="avatar" style="background-image: url(~/tabler-dev/dist/demo/faces/female/11.jpg)"></span></td>
                                    <td>Elif AKDOĞAN</td>
                                    <td>
                                        SAMSUNG A10
                                    </td>
                                    <td>
                                        ISTANBUL AVRUPA DEPO
                                    </td>
                                    <td class="text-nowrap">
                                        5 Şubat 2021
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="avatar" style="background-image: url(~/tabler-dev/dist/demo/faces/female/11.jpg)"></span></td>
                                    <td>Hakan MUTLU</td>
                                    <td>
                                        SAMSUNG A10
                                    </td>
                                    <td>
                                        ISTANBUL AVRUPA DEPO
                                    </td>
                                    <td class="text-nowrap">
                                        5 Şubat 2021
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="avatar" style="background-image: url(~/tabler-dev/dist/demo/faces/female/11.jpg)"></span></td>
                                    <td>Orhan UYSAL</td>
                                    <td>
                                        LENOVO X1YOGA
                                    </td>
                                    <td>
                                        PAMUKOVA FABRIKA
                                    </td>
                                    <td class="text-nowrap">
                                        1 Şubat 2021
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <script>
                    require(['c3', 'jquery'], function (c3, $) {
                        $(document).ready(function () {
                            var chart = c3.generate({
                                bindto: '#chart-development-activity', // id of chart wrapper
                                data: {
                                    columns: [
                                        // each columns data
                                        ['data1', 0, 5, 1, 2, 7, 5, 6, 8, 24, 7, 12, 5, 6, 3, 2, 2, 6, 30, 10, 10, 15, 14, 47, 65, 55]
                                    ],
                                    type: 'area', // default type of chart
                                    groups: [
                                        ['data1', 'data2', 'data3']
                                    ],
                                    colors: {
                                        'data1': tabler.colors["blue"]
                                    },
                                    names: {
                                        // name of each serie
                                        'data1': 'Purchases'
                                    }
                                },
                                axis: {
                                    y: {
                                        padding: {
                                            bottom: 0,
                                        },
                                        show: false,
                                        tick: {
                                            outer: false
                                        }
                                    },
                                    x: {
                                        padding: {
                                            left: 0,
                                            right: 0
                                        },
                                        show: false
                                    }
                                },
                                legend: {
                                    position: 'inset',
                                    padding: 0,
                                    inset: {
                                        anchor: 'top-left',
                                        x: 20,
                                        y: 8,
                                        step: 10
                                    }
                                },
                                tooltip: {
                                    format: {
                                        title: function (x) {
                                            return '';
                                        }
                                    }
                                },
                                padding: {
                                    bottom: 0,
                                    left: -1,
                                    right: -1
                                },
                                point: {
                                    show: false
                                }
                            });
                        });
                    });</script>
            </div>
            <div class="col-md-6">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Lokasyona Göre Bilgisayarlar</h3>
                            </div>
                            <div class="card-body">
                                <div id="chart-donut" style="height: 12rem;"></div>
                            </div>
                        </div>
                        <script>
                            require(['c3', 'jquery'], function (c3, $) {
                                $(document).ready(function () {
                                    var chart = c3.generate({
                                        bindto: '#chart-donut', // id of chart wrapper
                                        data: {
                                            columns: [
                                                // each columns data
                                                ['data1', 63],
                                                ['data2', 37]
                                            ],
                                            type: 'donut', // default type of chart
                                            colors: {
                                                'data1': tabler.colors["green"],
                                                'data2': tabler.colors["green-light"]
                                            },
                                            names: {
                                                // name of each serie
                                                'data1': 'Maximum',
                                                'data2': 'Minimum'
                                            }
                                        },
                                        axis: {
                                        },
                                        legend: {
                                            show: false, //hide legend
                                        },
                                        padding: {
                                            bottom: 0,
                                            top: 0
                                        },
                                    });
                                });
                            });</script>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Lokasyona Göre Tablet & Telefon</h3>
                            </div>
                            <div class="card-body">
                                <div id="chart-pie" style="height: 12rem;"></div>
                            </div>
                        </div>
                        <script>
                            require(['c3', 'jquery'], function (c3, $) {
                                $(document).ready(function () {
                                    var chart = c3.generate({
                                        bindto: '#chart-pie', // id of chart wrapper
                                        data: {
                                            columns: [
                                                // each columns data
                                                ['data1', 63],
                                                ['data2', 44],
                                                ['data3', 12],
                                                ['data4', 14]
                                            ],
                                            type: 'pie', // default type of chart
                                            colors: {
                                                'data1': tabler.colors["blue-darker"],
                                                'data2': tabler.colors["blue"],
                                                'data3': tabler.colors["blue-light"],
                                                'data4': tabler.colors["blue-lighter"]
                                            },
                                            names: {
                                                // name of each serie
                                                'data1': 'A',
                                                'data2': 'B',
                                                'data3': 'C',
                                                'data4': 'D'
                                            }
                                        },
                                        axis: {
                                        },
                                        legend: {
                                            show: false, //hide legend
                                        },
                                        padding: {
                                            bottom: 0,
                                            top: 0
                                        },
                                    });
                                });
                            });</script>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Lokasyona Göre Barkod Yazıcılar</h3>
                            </div>
                            <div class="card-body">
                                <div id="chart-donut" style="height: 12rem;"></div>
                            </div>
                        </div>
                        <script>
                            require(['c3', 'jquery'], function (c3, $) {
                                $(document).ready(function () {
                                    var chart = c3.generate({
                                        bindto: '#chart-donut', // id of chart wrapper
                                        data: {
                                            columns: [
                                                // each columns data
                                                ['data1', 63],
                                                ['data2', 37]
                                            ],
                                            type: 'donut', // default type of chart
                                            colors: {
                                                'data1': tabler.colors["green"],
                                                'data2': tabler.colors["green-light"]
                                            },
                                            names: {
                                                // name of each serie
                                                'data1': 'Maximum',
                                                'data2': 'Minimum'
                                            }
                                        },
                                        axis: {
                                        },
                                        legend: {
                                            show: false, //hide legend
                                        },
                                        padding: {
                                            bottom: 0,
                                            top: 0
                                        },
                                    });
                                });
                            });</script>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Lokasyona Göre El Terminalleri</h3>
                            </div>
                            <div class="card-body">
                                <div id="chart-pie" style="height: 12rem;"></div>
                            </div>
                        </div>
                        <script>
                            require(['c3', 'jquery'], function (c3, $) {
                                $(document).ready(function () {
                                    var chart = c3.generate({
                                        bindto: '#chart-pie', // id of chart wrapper
                                        data: {
                                            columns: [
                                                // each columns data
                                                ['data1', 63],
                                                ['data2', 44],
                                                ['data3', 12],
                                                ['data4', 14]
                                            ],
                                            type: 'pie', // default type of chart
                                            colors: {
                                                'data1': tabler.colors["blue-darker"],
                                                'data2': tabler.colors["blue"],
                                                'data3': tabler.colors["blue-light"],
                                                'data4': tabler.colors["blue-lighter"]
                                            },
                                            names: {
                                                // name of each serie
                                                'data1': 'A',
                                                'data2': 'B',
                                                'data3': 'C',
                                                'data4': 'D'
                                            }
                                        },
                                        axis: {
                                        },
                                        legend: {
                                            show: false, //hide legend
                                        },
                                        padding: {
                                            bottom: 0,
                                            top: 0
                                        },
                                    });
                                });
                            });</script>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card p-3">
                    <div class="d-flex align-items-center">
                        <span class="stamp stamp-md bg-blue mr-3">
                            <i class="fe fe-dollar-sign"></i>
                        </span>
                        <div>
                            <h4 class="m-0"><a href="javascript:void(0)">132<br /><small>Toplam Kullanıcı</small></a></h4>
                            <small class="text-muted">12 waiting payments</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card p-3">
                    <div class="d-flex align-items-center">
                        <span class="stamp stamp-md bg-green mr-3">
                            <i class="fe fe-shopping-cart"></i>
                        </span>
                        <div>
                            <h4 class="m-0"><a href="javascript:void(0)">78<br /><small>Toplam Envanter</small></a></h4>
                            <small class="text-muted">32 shipped</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card p-3">
                    <div class="d-flex align-items-center">
                        <span class="stamp stamp-md bg-red mr-3">
                            <i class="fe fe-users"></i>
                        </span>
                        <div>
                            <h4 class="m-0"><a href="javascript:void(0)">1,352<br /><small>Toplam Arıza</small></a></h4>
                            <small class="text-muted">163 registered today</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card p-3">
                    <div class="d-flex align-items-center">
                        <span class="stamp stamp-md bg-yellow mr-3">
                            <i class="fe fe-message-square"></i>
                        </span>
                        <div>
                            <h4 class="m-0"><a href="javascript:void(0)">132<br /><small>Toplam Hurda & Bağış</small></a></h4>
                            <small class="text-muted">16 waiting</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-cards row-deck">
            <div class="col-sm-6 col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Cihaz Türleri</h4>
                    </div>
                    <table class="table card-table">
                        <tr>
                            <td width="1"><i class="fa fa-chrome text-muted"></i></td>
                            <td>Google Chrome</td>
                            <td class="text-right"><span class="text-muted">23%</span></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-firefox text-muted"></i></td>
                            <td>Mozila Firefox</td>
                            <td class="text-right"><span class="text-muted">15%</span></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-safari text-muted"></i></td>
                            <td>Apple Safari</td>
                            <td class="text-right"><span class="text-muted">7%</span></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-internet-explorer text-muted"></i></td>
                            <td>Internet Explorer</td>
                            <td class="text-right"><span class="text-muted">9%</span></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-opera text-muted"></i></td>
                            <td>Opera mini</td>
                            <td class="text-right"><span class="text-muted">23%</span></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-edge text-muted"></i></td>
                            <td>Microsoft edge</td>
                            <td class="text-right"><span class="text-muted">9%</span></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Modeller</h2>
                    </div>
                    <table class="table card-table">
                        <tr>
                            <td>Admin Template</td>
                            <td class="text-right">
                                <span class="badge badge-default">65%</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Landing Page</td>
                            <td class="text-right">
                                <span class="badge badge-success">Finished</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Backend UI</td>
                            <td class="text-right">
                                <span class="badge badge-danger">Rejected</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Personal Blog</td>
                            <td class="text-right">
                                <span class="badge badge-default">40%</span>
                            </td>
                        </tr>
                        <tr>
                            <td>E-mail Templates</td>
                            <td class="text-right">
                                <span class="badge badge-default">13%</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Corporate Website</td>
                            <td class="text-right">
                                <span class="badge badge-warning">Pending</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Lokasyonlar</h3>
                    </div>
                    <div class="card-body o-auto" style="height: 15rem">
                        <ul class="list-unstyled list-separated">
                            <li class="list-separated-item">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <span class="avatar avatar-md d-block" style="background-image: url(demo/faces/female/12.jpg)"></span>
                                    </div>
                                    <div class="col">
                                        <div>
                                            <a href="javascript:void(0)" class="text-inherit">Amanda Hunt</a>
                                        </div>
                                        <small class="d-block item-except text-sm text-muted h-1x">amanda_hunt@example.com</small>
                                    </div>
                                    <div class="col-auto">
                                        <div class="item-action dropdown">
                                            <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-tag"></i> Action </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-edit-2"></i> Another action </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-link"></i> Separated link</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-separated-item">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <span class="avatar avatar-md d-block" style="background-image: url(demo/faces/female/21.jpg)"></span>
                                    </div>
                                    <div class="col">
                                        <div>
                                            <a href="javascript:void(0)" class="text-inherit">Laura Weaver</a>
                                        </div>
                                        <small class="d-block item-except text-sm text-muted h-1x">lauraweaver@example.com</small>
                                    </div>
                                    <div class="col-auto">
                                        <div class="item-action dropdown">
                                            <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-tag"></i> Action </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-edit-2"></i> Another action </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-link"></i> Separated link</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-separated-item">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <span class="avatar avatar-md d-block" style="background-image: url(demo/faces/female/29.jpg)"></span>
                                    </div>
                                    <div class="col">
                                        <div>
                                            <a href="javascript:void(0)" class="text-inherit">Margaret Berry</a>
                                        </div>
                                        <small class="d-block item-except text-sm text-muted h-1x">margaret88@example.com</small>
                                    </div>
                                    <div class="col-auto">
                                        <div class="item-action dropdown">
                                            <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-tag"></i> Action </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-edit-2"></i> Another action </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-link"></i> Separated link</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-separated-item">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <span class="avatar avatar-md d-block" style="background-image: url(demo/faces/female/2.jpg)"></span>
                                    </div>
                                    <div class="col">
                                        <div>
                                            <a href="javascript:void(0)" class="text-inherit">Nancy Herrera</a>
                                        </div>
                                        <small class="d-block item-except text-sm text-muted h-1x">nancy_83@example.com</small>
                                    </div>
                                    <div class="col-auto">
                                        <div class="item-action dropdown">
                                            <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-tag"></i> Action </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-edit-2"></i> Another action </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-link"></i> Separated link</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-separated-item">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <span class="avatar avatar-md d-block" style="background-image: url(demo/faces/male/34.jpg)"></span>
                                    </div>
                                    <div class="col">
                                        <div>
                                            <a href="javascript:void(0)" class="text-inherit">Edward Larson</a>
                                        </div>
                                        <small class="d-block item-except text-sm text-muted h-1x">edward90@example.com</small>
                                    </div>
                                    <div class="col-auto">
                                        <div class="item-action dropdown">
                                            <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-tag"></i> Action </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-edit-2"></i> Another action </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-link"></i> Separated link</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-separated-item">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <span class="avatar avatar-md d-block" style="background-image: url(demo/faces/female/11.jpg)"></span>
                                    </div>
                                    <div class="col">
                                        <div>
                                            <a href="javascript:void(0)" class="text-inherit">Joan Hanson</a>
                                        </div>
                                        <small class="d-block item-except text-sm text-muted h-1x">joan.hanson@example.com</small>
                                    </div>
                                    <div class="col-auto">
                                        <div class="item-action dropdown">
                                            <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-tag"></i> Action </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-edit-2"></i> Another action </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-link"></i> Separated link</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Depodaki Ürünler</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table card-table table-vcenter text-nowrap">
                            <thead>
                                <tr>
                                    <th class="w-1">No.</th>
                                    <th>Invoice Subject</th>
                                    <th>Client</th>
                                    <th>VAT No.</th>
                                    <th>Created</th>
                                    <th>Status</th>
                                    <th>Price</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span class="text-muted">001401</span></td>
                                    <td><a href="invoice.html" class="text-inherit">Design Works</a></td>
                                    <td>
                                        Carlson Limited
                                    </td>
                                    <td>
                                        87956621
                                    </td>
                                    <td>
                                        15 Dec 2017
                                    </td>
                                    <td>
                                        <span class="status-icon bg-success"></span> Paid
                                    </td>
                                    <td>$887</td>
                                    <td class="text-right">
                                        <a href="javascript:void(0)" class="btn btn-secondary btn-sm">Manage</a>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">Actions</button>
                                        </div>
                                    </td>
                                    <td>
                                        <a class="icon" href="javascript:void(0)">
                                            <i class="fe fe-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="text-muted">001402</span></td>
                                    <td><a href="invoice.html" class="text-inherit">UX Wireframes</a></td>
                                    <td>
                                        Adobe
                                    </td>
                                    <td>
                                        87956421
                                    </td>
                                    <td>
                                        12 Apr 2017
                                    </td>
                                    <td>
                                        <span class="status-icon bg-warning"></span> Pending
                                    </td>
                                    <td>$1200</td>
                                    <td class="text-right">
                                        <a href="javascript:void(0)" class="btn btn-secondary btn-sm">Manage</a>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">Actions</button>
                                        </div>
                                    </td>
                                    <td>
                                        <a class="icon" href="javascript:void(0)">
                                            <i class="fe fe-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="text-muted">001403</span></td>
                                    <td><a href="invoice.html" class="text-inherit">New Dashboard</a></td>
                                    <td>
                                        Bluewolf
                                    </td>
                                    <td>
                                        87952621
                                    </td>
                                    <td>
                                        23 Oct 2017
                                    </td>
                                    <td>
                                        <span class="status-icon bg-warning"></span> Pending
                                    </td>
                                    <td>$534</td>
                                    <td class="text-right">
                                        <a href="javascript:void(0)" class="btn btn-secondary btn-sm">Manage</a>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">Actions</button>
                                        </div>
                                    </td>
                                    <td>
                                        <a class="icon" href="javascript:void(0)">
                                            <i class="fe fe-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="text-muted">001404</span></td>
                                    <td><a href="invoice.html" class="text-inherit">Landing Page</a></td>
                                    <td>
                                        Salesforce
                                    </td>
                                    <td>
                                        87953421
                                    </td>
                                    <td>
                                        2 Sep 2017
                                    </td>
                                    <td>
                                        <span class="status-icon bg-secondary"></span> Due in 2 Weeks
                                    </td>
                                    <td>$1500</td>
                                    <td class="text-right">
                                        <a href="javascript:void(0)" class="btn btn-secondary btn-sm">Manage</a>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">Actions</button>
                                        </div>
                                    </td>
                                    <td>
                                        <a class="icon" href="javascript:void(0)">
                                            <i class="fe fe-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="text-muted">001405</span></td>
                                    <td><a href="invoice.html" class="text-inherit">Marketing Templates</a></td>
                                    <td>
                                        Printic
                                    </td>
                                    <td>
                                        87956621
                                    </td>
                                    <td>
                                        29 Jan 2018
                                    </td>
                                    <td>
                                        <span class="status-icon bg-danger"></span> Paid Today
                                    </td>
                                    <td>$648</td>
                                    <td class="text-right">
                                        <a href="javascript:void(0)" class="btn btn-secondary btn-sm">Manage</a>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">Actions</button>
                                        </div>
                                    </td>
                                    <td>
                                        <a class="icon" href="javascript:void(0)">
                                            <i class="fe fe-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="text-muted">001406</span></td>
                                    <td><a href="invoice.html" class="text-inherit">Sales Presentation</a></td>
                                    <td>
                                        Tabdaq
                                    </td>
                                    <td>
                                        87956621
                                    </td>
                                    <td>
                                        4 Feb 2018
                                    </td>
                                    <td>
                                        <span class="status-icon bg-secondary"></span> Due in 3 Weeks
                                    </td>
                                    <td>$300</td>
                                    <td class="text-right">
                                        <a href="javascript:void(0)" class="btn btn-secondary btn-sm">Manage</a>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">Actions</button>
                                        </div>
                                    </td>
                                    <td>
                                        <a class="icon" href="javascript:void(0)">
                                            <i class="fe fe-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>