@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml"; }




@* Navbar Menü Alanı *@
<div class="header collapse d-lg-flex p-0" id="menu">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row ">
                    <li class="nav-item">
                        <a href="/Main" class="nav-link active"> <i class="fe fe-home"> </i> Anasayfa</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"> <i class="fe fe-box"> </i> Depo İşlemleri</a>
                        <div class="dropdown-menu dropdown-menu-arrow">
                            <a href="/UrunKaydi" class="dropdown-item "> Ürün Kaydı</a>
                            <a href="/ArizaBildirimi" class="dropdown-item "> Arıza Bildirimi</a>
                            <a href="/BagisYap" class="dropdown-item "> Bağış Yap</a>
                            <a href="/IstenCikma" class="dropdown-item "> İşten Çıkma</a>
                            <a href="/PozisyonDegisikligi" class="dropdown-item "> Pozisyon Değişikliği</a>
                            <a href="/AmortismanBildirimi" class="dropdown-item "> Amortisman Bildirimi</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"> <i class="fe fe-calendar"> </i> Saha İşlemleri</a>
                        <div class="dropdown-menu dropdown-menu-arrow">
                            <a href="/KullaniciyaUrunAtama" class="dropdown-item "> Kullanıcıya Ürün Atama</a>
                            @*<a href="/KargoTakibi" class="dropdown-item "> Kargo Takibi</a>*@
                            <a href="/UrunKullanicisiDegistir" class="dropdown-item "> Ürün Kullanıcısı Değiştirme</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="/SistemKayitlari" class="nav-link"> <i class="fe fe-check-square"> </i> Sistem Kayıtları</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"> <i class="fe fe-file"> </i> Diğer İşlemler</a>
                        <div class="dropdown-menu dropdown-menu-arrow">
                            <a href="/CihazTuruYonetimi" class="dropdown-item "> Cihaz Türü Yönetimi</a>
                            <a href="/ModelYonetimi" class="dropdown-item "> Model Yönetimi</a>
                            <a href="/SirketYonetimi" class="dropdown-item "> Şirket Yönetimi</a>
                            <a href="/LokasyonYonetimi" class="dropdown-item "> Lokasyon Yönetimi</a>
                            @*<a href="/OperatorIslemleri" class="dropdown-item "> Operatör İşlemleri</a>
                            <a href="/KullaniciIslemleri" class="dropdown-item "> Kullanıcı İşlemleri</a>*@
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


